*{
    margin:0;
    padding:0;
}

body{
    background-color:rgb(200,200,200);
}

svg{
    margin-left:auto;
    margin-right:auto;
    display:block;

}

#svg-sgraph-mouse-over{
    background-color:rgba(64,64,64,0.8);
    position:fixed;
    padding:5px;
    transition:all 0.3s;
    color:white;
    z-index: 99999;
}

